.formControl{
    width: 30%;
    margin-bottom: 30px !important ;
    background-color:rgba(255,255,255,255);
    justify-content: center;
    padding-left: 2%;
    justify-content: center;
    width:100%;

}